/* nav items */

.nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.nav-items-group-b {
    margin-left: 33.75rem;
}

.nav-items__logo>img {
    height: 40px;
    width: 200px;
}

ul li {
    display: inline;
    padding: 15px;
    list-style-type: none;
}

a {
    font-weight: bold;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}


/* end of navbar */