.sidebar-h2,
.sidebar>li {
    line-height: 1.875rem;
    list-style-type: none;
    padding-left: 10px;
}

.sidebar>li:hover {
    background: lightgrey;
}

.sidebar {
    overflow-x: hidden;
    overflow-y: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}