/* colors variables */

:root {
    --primary: rgb(0, 0, 255);
    --primary-hover: rgb(0, 33, 140);
    --secondary: rgb(128, 128, 128);
    --secondary-hover: rgb(115, 115, 115);
    --success: rgb(0, 143, 10);
    --success-hover: rgb(0, 87, 0);
    --danger: rgb(255, 0, 0);
    --danger-hover: rgb(186, 0, 0);
    --warning: rgb(255, 174, 0);
    --warning-hover: rgb(133, 90, 0);
    --info: rgb(0, 157, 168);
    --info-hover: rgb(0, 90, 97);
    --light: rgb(245, 245, 245);
    --light-hover: rgb(230, 230, 230);
    --dark: rgb(84, 84, 84);
    --dark-hover: rgb(26, 26, 26);
}


/* *** */

.btn {
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    border: none;
    width: auto;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}


/* solid button */

.solid-primary {
    background: var(--primary);
}

.solid-primary:hover {
    background: var(--primary-hover);
    transition: background 0.5s;
}

.solid-secondary {
    background: var(--secondary);
}

.solid-secondary:hover {
    background: var(--secondary-hover);
    transition: background 0.5s;
}

.solid-success {
    background: var(--success);
}

.solid-success:hover {
    background: var(--success-hover);
    transition: background 0.5s;
}

.solid-danger {
    background: var(--danger);
}

.solid-danger:hover {
    background: var(--danger-hover);
    transition: background 0.5s;
}

.solid-warning {
    background: var(--warning);
}

.solid-warning:hover {
    background: var(--warning-hover);
    transition: background 0.5s;
}

.solid-info {
    background: var(--info);
}

.solid-info:hover {
    background: var(--info-hover);
    transition: background 0.5s;
}

.solid-light {
    color: var(--dark);
    background: var(--light);
}

.solid-light:hover {
    color: var(--dark);
    background: var(--light-hover);
    transition: background 0.5s;
}

.solid-dark {
    color: white;
    background: var(--dark);
}

.solid-dark:hover {
    color: white;
    background: var(--dark-hover);
    transition: background 0.5s;
}


/* *** */


/* outline button */

.outline-primary {
    color: var(--primary);
    border: solid var(--primary);
    background: transparent;
}


/* hover */

.outline-primary:hover {
    background: var(--primary);
    color: white;
    transition: background-color 0.6s;
}

.outline-secondary {
    color: var(--dark);
    border: solid var(--secondary);
    background: transparent;
}


/* hover */

.outline-secondary:hover {
    background: var(--secondary);
    color: white;
    transition: background-color 0.6s;
}

.outline-success {
    color: var(--success);
    border: solid var(--success);
    background: transparent;
}


/* hover */

.outline-success:hover {
    background: var(--success);
    color: white;
    transition: background-color 0.6s;
}

.outline-danger {
    color: var(--danger);
    border: solid var(--danger);
    background: transparent;
}


/* hover */

.outline-danger:hover {
    background: var(--danger);
    color: white;
    transition: background-color 0.6s;
}

.outline-warning {
    color: var(--warning);
    border: solid var(--warning);
    background: transparent;
}


/* hover */

.outline-warning:hover {
    background: var(--warning);
    color: white;
    transition: background-color 0.6s;
}

.outline-info {
    color: var(--info);
    border: solid var(--info);
    background: transparent;
}


/* hover */

.outline-info:hover {
    background: var(--info);
    color: white;
    transition: background-color 0.6s;
}

.outline-light {
    color: var(--light);
    border: solid var(--light);
    background: transparent;
}


/* hover */

.outline-light:hover {
    background: var(--light);
    color: rgb(0, 0, 0);
    transition: background-color 0.6s;
}

.outline-dark {
    color: var(--dark);
    border: solid var(--dark);
    background: transparent;
}


/* hover */

.outline-dark:hover {
    background: var(--dark);
    color: white;
    transition: background-color 0.6s;
}


/* *** */


/* link, icon and floating button */

.link-btn {
    color: blue;
    cursor: pointer;
}

.link-btn:hover {
    text-decoration: underline;
}

.icon-btn {
    cursor: pointer;
}

.floating-btn {
    cursor: pointer;
    background: black;
    color: white;
    padding: 12px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /* padding: 0.5rem 1rem; */
    margin: 1rem 0;
    text-align: center;
    gap: 15px;
}

.floating-btn>a {
    padding-inline-end: 0.5rem;
}

.floating-btn:hover {
    box-shadow: 0px 0px 10px gray;
}


/* *** */