/* color variables */

:root {
    --light-theam-color: #ffd9c9;
    --dark-theam-color: #ff4800;
    --color-white: white;
    --color-gray: gray;
    --color-blue: blue;
    --color-dark-blue: darkblue;
}


/* *** */


/* 1. Cards with badges */

.card-with-badge {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 18.9rem;
    width: 12.6rem;
    background-color: var(--light-theam-color);
}

.card-with-dismiss {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 18.9rem;
    width: 12.6rem;
    gap: auto;
    background-color: var(--light-theam-color);
}

.card-with-badge>.coupon-heading {
    padding-top: 3.15rem;
    text-align: center;
}

.card-with-dismiss>.coupon-heading {
    padding-top: auto;
    text-align: center;
}

.coupon-code {
    position: relative;
    border: dashed var(--dark-theam-color);
    margin-top: 1.575rem;
    text-align: center;
    background: var(--color-white);
}

.card-with-badge>p,
.card-with-dismiss>p {
    border-radius: 0.938rem;
    transform: rotate(-45deg);
    text-align: center;
    padding: 5px;
    width: 3.78rem;
    position: absolute;
    background: chocolate;
    color: var(--color-white);
}

.coupon-off {
    font-size: 3rem;
    color: var(--dark-theam-color);
}

.card-close-btn {
    color: var(--color-gray);
    padding: 5px;
    margin-top: 5px;
    align-self: flex-end;
}

.card-close-btn:hover {
    color: var(--dark-theam-color);
}


/* end of Cards with badges */


/* 3. Cards with text overlay */

.card-text-overlay {
    padding: 0.063rem;
    background: var(--dark-theam-color);
    color: var(--color-white);
    position: absolute;
}


/* end of Cards with text overlay */


/* 4. Text only cards */

.text-only-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 15.75rem;
    padding: 1.26rem;
    border: 1px solid var(--color-gray);
}

.text-only-card-header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.text-only-card-links {
    display: flex;
    flex-direction: row;
    gap: 1.26rem;
}

.text-only-card-links>.link-1 {
    color: var(--color-blue);
}

.text-only-card-links>.link-2 {
    color: var(--color-blue);
}

.text-only-card-links>.link-1:hover {
    color: var(--color-dark-blue);
    text-decoration: underline;
}

.text-only-card-links>.link-2:hover {
    color: var(--color-dark-blue);
    text-decoration: underline;
}


/* end of Text only cards */


/* 5. vertical card w/ and w/o shadow */

.vertical-card-example {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.vertical-card-example>h3 {
    line-height: 1px;
}

.vertical-card-with-shadow,
.vertical-card-without-shadow {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    width: 15.75rem;
    height: auto;
    background: var(--light-theam-color);
    padding-bottom: 15px;
    gap: 1px;
}

.vertical-card-with-shadow:hover {
    box-shadow: 0px 0px 10px var(--color-gray);
    transition: box-shadow 0.5s;
}

.vertical-card-img {
    width: 15.75rem;
}

.card-title,
.card-content {
    padding-left: 10px;
}

.card-btn {
    margin-left: 10px;
}

#buy-btn {
    background: var(--dark-theam-color);
}

#buy-btn:hover {
    background-color: #852700;
    transition: background-color 0.5s;
}

#add-to-cart-btn {
    background-color: var(--light-theam-color);
}

#add-to-cart-btn:hover {
    background-color: var(--dark-theam-color);
    transition: background-color 0.5s;
}

#mrp {
    text-decoration: line-through var(--dark-theam-color);
}


/* *** */


/* 6. horizontal card w/ and w/o shadow */

.horizontal-card-with-shadow,
.horizontal-card-without-shadow,
.horizontal-card-with-text-overlay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 37.8rem;
    height: auto;
    background: var(--light-theam-color);
}

.horizontal-card-with-shadow>img,
.horizontal-card-without-shadow>img,
.horizontal-card-with-text-overlay>img {
    height: auto;
}

.horizontal-card-with-shadow:hover {
    box-shadow: 0px 0px 10px var(--color-gray);
    transition: box-shadow 0.5s;
}

.horizontal-card-img {
    height: 12rem;
    width: 18rem;
}

.card-title,
.card-content {
    padding-left: 10px;
}

.card-btn {
    margin-left: 10px;
}

#buy-btn {
    background: var(--dark-theam-color);
}

#buy-btn:hover {
    background-color: #852700;
    transition: background-color 0.5s;
}

#add-to-cart-btn {
    background-color: var(--light-theam-color);
}

#add-to-cart-btn:hover {
    background-color: var(--dark-theam-color);
    transition: background-color 0.5s;
}

#mrp {
    text-decoration: line-through var(--dark-theam-color);
}


/* *** */