.form {
    display: flex;
    flex-direction: column;
    gap: 0.315rem;
    margin: 1rem;
    width: 15rem;
}

.form>a {
    width: fit-content;
    height: auto;
    padding: 0.315rem;
    padding-left: 0.63rem;
    padding-right: 0.63rem;
    border: 1px solid gray;
    margin-top: 0.63rem;
    text-decoration: none;
}

.form>a:hover {
    background-color: darkred;
    color: white;
    transition: background-color 0.5s;
}

.name-input:after {
    content: " *";
    color: red;
}

.email-input,
.password-input:after {
    content: " *";
    color: red;
}