        /* simple nav-bar */
        
        .nav-bar {
            display: flex;
            flex-direction: row;
            height: 30px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
        
        .brand-logo>img {
            width: 100px;
            height: 50px;
        }
        
        .nav-bar-icons-list,
        .nav-bar-links-list {
            display: flex;
            gap: 15px;
            list-style: none;
        }
        
        .nav-bar-search-box>input {
            width: 200px;
            padding-left: 10px;
            border-radius: 15px;
        }
        
        .nav-bar-links-list>li:hover {
            cursor: pointer;
            color: tomato;
            transition: color 0.5s;
        }
        
        .nav-bar-icons-list>li:hover {
            cursor: pointer;
            color: tomato;
            transition: color 0.5s;
        }
        /* *** */